body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .st0,.st1{fill:none;stroke:#FFD785;stroke-width:3;stroke-miterlimit:10;} */
.st0{fill:none;stroke:#FFD785;stroke-width:3;stroke-miterlimit:10;}
.st1{display:none;}
.st2{font-family:'FuturaBT-Heavy';}
.st3{font-size:100px;}
.st4{display:inline;}
.st5{font-family:'UniversalisADFStd-Bold';}
.st6{letter-spacing:-1;}
.st7{display:inline;fill:none;stroke:#000000;stroke-width:3;}
.st8{font-family:'FocoBlack-Regular';}
.st9{letter-spacing:-2;}
.st10{display:none;fill:none;stroke:#000000;stroke-width:3;}
.st11{fill:none;stroke:#FFD785;stroke-width:3;stroke-miterlimit:10;}
.st12{font-family:'BrandonGrotesque-Bold';}
.st13{font-size:135.1917px;}
.st14{letter-spacing:1;}

svg {
  transform: translateX(-56px);
}

.img-wrap {
  position: relative;
}

.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg-imgae-animation {
  animation: zoom-in-out 11s ease-in-out infinite alternate;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  } 
  100% {
    transform: scale(1.15);
  } 
}

.slick-next {
  right: 25px !important;
  z-index: 2;
}

.slick-prev {
  left: 25px !important;
  z-index: 2;
}

.slick-dots {
  bottom: -50px !important;
}

.slick-dots li button:before {
  font-size: 14px !important;
}

.livvic {
  font-family: 'Livvic', sans-serif;
}